body{
  min-height: 450px;
  min-width: 450px;
  overflow: hidden;
  perspective: 3000px;
}



.title{
  font-size: max(3vw, 26px);
  text-align: center;
  text-decoration: underline;
}

.scores-container{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.score-container{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  aspect-ratio: 1/1;
}

.score{
  font-size: max(calc(2vw + 1vh), 14px);  
}

.button-container{
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.button-container > .button{
  font-size: max(calc(1vw + 1vh), 14px);
  width: 20%;
  min-width: min-content;
  margin: 1.5%;
}


.rule-container{
  display: flex;
  flex-flow: column;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.slider-container {
  display: flex;
  flex-flow: row;
}

.rule-container input {
  width: 90%;
}

.slider-description {
  text-align: left;
  margin-left: 1%;
  font-size: max(calc(1vw + 1vh), 14px);
  display: flex;
}

.slider-description .button {
  font-family: inherit;
  font-size: max(calc(0.8vw + 0.8vh), 14px);
  height: fit-content;
  width: fit-content;
  margin-left: 10px;
  align-self: center;
}

.sliderOut{
  text-align: right;
  width: 3%;
}

.dropdown {
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-bottom: solid 1px;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
}

.dark-mode {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
}

.dark-mode-icon {
  width: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 0.87;
}

.dark-mode-icon:hover {
  cursor: pointer;
}

/* Flip card styles */
.flip-card {
  background-color: transparent;
  position: relative;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 60%;
  perspective: 3000px;
}

.flip-card-inner {
  border: solid 2px;
  border-color: inherit;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: space-between;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: auto;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Button styles */
.button {
  border: solid 1px;
  border-color: inherit;
  background-color: rgb(192, 192, 192);
  color: inherit;
  text-align: center;
}

.button:hover:enabled {
  background: rgb(212, 212, 212);
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.button:disabled {
  opacity: 0.33;
}

.dark-mode .button {
  background: rgb(44, 44, 44);
  border-color: inherit;
}

.dark-mode .button:hover:enabled {
  background: rgb(34, 34, 34);
}